h1{
	color:rgb(0, 4, 255);
	font-size: 25px;
}
p{
	font-size: small;
	color: wheat;
}
li{
	color:wheat
}
.title{
	color:green;
	font-size: 90px;
	text-align: center;
}
body{
	background-image:image-set("Schermafbeelding 2024-09-12 114012.png");
}
.by_text{
	color: black;
}